


    <h1>
      <%= @the_board.name %> 
    </h1>


<hr>
  <h2>Add a new post</h2>

<div>
  <div>
    <form action="/insert_post"  method="post">
      <div>
        <label for="title_box">Title</label>
        <input type="text" id="title_box" name="title" >
      </div>

      <div>
        <label for="body_box">Body</label>
        <textarea id="body_box" name="body" cols=20 rows=3></textarea>
      </div>

      <div>
        <label for="expire_date">Expires on</label>
        <input type="date" id="expire_date" name="expires_on"  >
      </div>


        <input type="hidden" id="id" name="query_board_id" value=<%= @the_board.id %> >


      <button>
        Add post
      </button>
    </form>
  </div>
</div>

<hr>
  <h2>Active posts</h2>

  <% matching_posts = Post.where({ :board_id => @the_board.id}).where("expires_on >= ?", Date.today).order({ :expires_on => :asc }) %>

  <table border="1">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th>
    </tr>

  <% matching_posts.each do |a_post|%>
    <tr>
    <td><%= a_post.title%></td>
    <td><%= a_post.body%></td>
    <td><%= a_post.created_at.strftime("%b %e, %Y")%></td>
    <td><%= a_post.expires_on.strftime("%b %e, %Y")%></td>
   </tr>


  <% end %>

  </table>


  <h2>Expired posts</h2>
  <% matching_posts = Post.where({ :board_id => @the_board.id}).where("expires_on < ?", Date.today).order({ :expires_on => :asc }) %>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th>
    </tr>

  <% matching_posts.each do |a_post|%>
    <tr>
    <td><%= a_post.title%></td>
    <td><%= a_post.body%></td>
    <td><%= a_post.created_at.strftime("%b %e, %Y")%></td>
    <td><%= a_post.expires_on.strftime("%b %e, %Y")%></td>
   </tr>


  <% end %>
  </table>
