<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <a href="/">Bulletin Board</a>

  <hr>

  <% if notice.present? %>
    <div>
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div>
      <%= alert %>
    </div>
  <% end %>
    
    <%= yield %>  <!-- ðŸ‘ˆ åœ¨è¿™é‡Œæ’å…¥æ¯ä¸ªå…·ä½“é¡µé¢çš„å†…å®¹ -->



  </body>
</html>
